/* Reset default styles */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/* Set a max width and center the content */
body {
  font-family: Arial, sans-serif;
  max-width: 800px;
  margin: 0 auto;
}

/* Style the header */
header {
  background-color: #333;
  color: white;
  padding: 20px;
}

nav ul {
  list-style: none;
  display: flex;
  justify-content: space-between;
}

nav a {
  color: white;
  text-decoration: none;
  font-weight: bold;
}

nav a:hover {
  text-decoration: underline;
}

/* Style the main sections */
main {
  padding: 20px;
}

h1 {
  margin-bottom: 20px;
  font-size: 32px;
}

ul {
  list-style: none;
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-gap: 20px;
}

li {
  background-color: #f1f1f1;
  padding: 20px;
}

li:hover {
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

img {
  max-width: 100%;
  height: auto;
}

h2 {
  margin-top: 10px;
}

p {
  margin-bottom: 10px;
}

form label {
  display: block;
  margin-bottom: 10px;
}

form input,
form textarea {
  width: 100%;
  padding: 10px;
  margin-bottom: 20px;
  border: none;
  border-radius: 5px;
  background-color: #f1f1f1;
}

form textarea {
  height: 150px;
}

form button[type="submit"] {
  background-color: #333;
  color: white;
  border: none;
  border-radius: 5px;
  padding: 10px 20px;
  cursor: pointer;
}

form button[type="submit"]:hover {
  background-color: #444;
}
