---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<h3>Who Am I?</h3>
<p>Hi! Thank you for taking the time to look at my page. </p>
<p> I'm Hollis Kuang, a first-generation college graduate. I currently work as a Management Consultant based out
 of San Francsico. When I'm not thinking about the bottom line, I am most likely 
 <span style='color:red'>c</span>
 <span style='color:blue'>o</span>
 <span style='color:green'>d</span>
 <span style='color:cyan'>i</span>
 <span style='color:orange'>n</span>
<span style='color:indigo'>g</span> </p>


