---
layout: layouts/home.njk
eleventyNavigation:
  key: Home
  order: 1
numberOfLatestPostsToShow: 3
---

<h3>Who Am I?</h3>
<p>Hi! Thank you for taking the time to look at my page. </p>
<p> I'm Hollis Kuang, a first-generation college graduate. I currently work as an Engineering Consultant based out
 of San Francsico. When I'm not thinking about the bottom line, I am most likely 
 <span style='color:red'>p</span><span style='color:blue'>r</span><span style='color:green'>o</span><span style='color:cyan'>g</span><span 
 style='color:orange'>a</span><span style='color:indigo'>m</span><span 
 style='color:orange'>m</span><span style='color:red'>i</span><span style='color:green'>n</span><span 
 style='color:indigo'>g</span>. 
  I also exercise . . . sometimes, every now and then, when I get the chance.   </p>

<p> I think a lot about the beauty and complexity of what we are able to derive out of simple 
binary. That is why I code.</p>
<p>

<h3>From Humble Beginnings</h3>
<p> My first programming language was  <img 
src="https://res.cloudinary.com/dd97ovnmi/image/upload/c_scale,w_164/v1677052536/Java_programming_language_logo.svg_bug6ht.png" height="40px"
 ></img>, in a course where we used DrJava, an IDE which was first released around when I was born. Unfortunately, the students who
 now take the course are forced to use IntelliJ. Throughout the semester, I was able to uncover the optimal solution to the elusive Traveling Salesman Problem
 but not what <span style='color:green'>public</span>
  <span style='color:red'>static</span>
   <span style='color: blue'>void</span>
    <span style='color: purple'>main(<span style='color:orange'>String[]</span> <span style='color:cyan'>args</span>)</span> meant. </p>
<p>Eventually, I learned about dynamically typed languages like Javascript and thought that I was saved. But nowaways, I find myself using the strongly-typed versions of weakly-typed languages.
 It's funny how things work out. Thank you Microsoft! </p>
<p>On that note, I love the Open Source Communnity that you can find in progamming. It's what keeps me coding. It's a culture of collaboration
and selflessness that you will rarely find anywhere else. &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp &nbsp	 And it is beautiful in a way, how interconnected the world wide web is because of these very
principles. It inspires me and makes me hope that one day, I can also contribute back to this community which I have gained so much knowledge from.
<i> <small>(I see a lot of isEven npm packages but not a lot of isOdd packages)</small></i></p>
<div style='display:flex; justify-content:center; margin:40px;' >
<form method="post" target="_blank" action="https://poll.pollcode.com/32792352">
<div style="background-color:#EEEEEE;padding:2px;width:190px;font-family:Verdana;font-size:small;
color:#000000;box-shadow: 0px 0px 5px #888;"><div style="padding:2px 0px 4px 2px;"><strong>If you
 were a sort, what sort would you be?</strong></div><input type="radio" name="answer" value="1" id="answer327923521" 
 style="float:left;" /><label for="answer327923521" style="float:left;width:165px;">QuickSort</label><div 
 style="clear:both;height:2px;"></div><input type="radio" name="answer" value="2" id="answer327923522" style="float:left;" 
 /><label for="answer327923522" style="float:left;width:165px;">Bubble Sort</label><div style="clear:both;height:2px;">
 </div><input type="radio" name="answer" value="3" id="answer327923523" style="float:left;" /><label for="answer327923523"
  style="float:left;width:165px;">Quantum Bogo Sort</label><div style="clear:both;height:2px;"></div><div align="center"
   style="padding:3px;"><input type="submit" value=" Vote "></div><div align="right" style="font-size:10px"></div></div>
   </form> </div>
<p>This site is generated using <a href='https://www.11ty.dev/docs/'>11ty</a>, a zero-config static site generator. Honestly, Jekyll would
have worked fine but I'm a sucker for the newest shiniest thing in town.</p>
   <p>If you'd like to contact me, please feel free to email me at: <a href = "mailto: kuanghollis@gmail.com">kuanghollis@gmail.com</a></p>
   <span style='display:flex; justify-content:center'><p>Otherwise, you can click on one of the buttons below </p> </span>
   <span style='display:flex; justify-content:space-evenly ; width:100%; margin-top:20px'> 
   
   <a href='https://github.com/holliskuang'><img height='40px' width='40px' src='https://res.cloudinary.com/dd97ovnmi/image/upload/v1677059898/github-logo_nwxhra.png'></img></a>
      <a href='https://www.linkedin.com/in/hollis-kuang/'><img height='40px' width='40px' src='https://res.cloudinary.com/dd97ovnmi/image/upload/v1677059898/linkedin_1_arx80z.png'></img></a>
	        <a href='https://drive.google.com/file/d/1ktHAHBgEE5CpfMHhLiov_HtinglFSNiw/view?usp=sharing'><img height='40px' width='40px' src='https://res.cloudinary.com/dd97ovnmi/image/upload/v1677060634/curriculum-vitae_voiolj.png'></img></a>
			  <a href='mailto: kuanghollis@gmail.com'><img height='40px' width='40px' src='https://res.cloudinary.com/dd97ovnmi/image/upload/v1677060638/mail_fdn4yh.png'></img></a>
   </span>
