---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">

		<p> My Latest Thought</p>
		<p> The Lambda sign kind of looks like a giraffe </p>
		<img src="https://res.cloudinary.com/dd97ovnmi/image/upload/v1677047268/lambdaRaf_zwytte.png" 
		height="80px" width="80px"></img>

	
</div>
<!-- Stop deleting -->

{{ content | safe }}
