---
layout: layouts/base.njk
---
<!-- Delete this message, it will also remove the component CSS from the bundle -->
{%- css %}{% include "public/css/message-box.css" %}{% endcss %}
<div class="message-box">

		<p> My Latest Thought</p>
		<p> The Lambda sign kind of looks like a giraffe </p>

	
</div>
<!-- Stop deleting -->

{{ content | safe }}
